#settings {
    width:200px;
    height:200px;
    background: black;
    position:fixed;
    padding:5px;
    left: 0;
    color:black !important;
    opacity:0.1;
    margin-top:30px;
    z-index:1000;
}

#bg_wrapper, #canvas{
    width:100%;
    height:100%;
    overflow:visible;
    white-space: nowrap;
    margin-top:30px;
    position:absolute;
}

#canvas{
    z-index:999;
    position:absolute;
}

.overlay {
fill:steelblue;
stroke:black;
}

.upperrect, .lowerrect {
fill:none;
stroke:steelblue;
stroke-width:10px;
}

foreignObject div{
background-color:black;
color:white;
height:500px;
width:1000px;
 text-align:center;
  padding-top:10px;
  font-size:5em;
}






